footer{
    background-color: #342cc4;
    padding: 20px;
    text-align: center;
    h5{
        color: gold;
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
